<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
<body>
   
   <header>
     <h1>Pinterest Style Image Galley</h1>
   </header> 
   
     
    <div class="container"> 
        <div class="cards">
            <% posts.forEach(function(elem){ %>
                <div class="box">
                    <img src="/images/uploads/<%= elem.image %>" alt="image"></a>
                    <div class="caption"><%= elem.imageText %></div>
                </div> 
            <% }) %>
        </div> 
    </div>
        
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="app.js"></script>
</body>
                     
</html>